openapi: 3.0.0
info:
  title: 'Developer API - URLR'
  description: 'API powering the features of URLR.'
  termsOfService: 'https://urlr.me/en/terms-of-use'
  contact:
    name: URLR
    url: 'https://urlr.me/en'
    email: contact@urlr.me
  license:
    name: 'All rights reserved'
    url: 'https://urlr.me/en/legal-notice'
  version: '0.3'
servers:
  -
    url: 'https://urlr.me/api'
    description: 'Main API entry point'
paths:
  /login_check:
    post:
      tags:
        - Authentification
      summary: 'Get an access token'
      operationId: authentification
      requestBody:
        description: 'Your credentials'
        content:
          application/json:
            schema:
              required:
                - 'username, password'
              properties:
                username:
                  description: Email
                  type: string
                password:
                  description: Password
                  type: string
              type: object
      responses:
        '200':
          description: 'Your token is ready!'
          content:
            application/json:
              schema:
                properties:
                  token: { type: string }
                type: object
        '401':
          description: 'Invalid credentials'
          content:
            application/json:
              schema:
                properties:
                  code: { type: integer, example: 401 }
                  message: { type: string, example: 'Invalid credentials.' }
                type: object
  /reduce-link:
    post:
      tags:
        - Link
      summary: 'Shorten a link'
      operationId: reduceLink
      requestBody:
        description: 'Info of the link to shorten'
        content:
          application/json:
            schema:
              required:
                - url
                - team
              properties:
                url:
                  description: 'URL to shorten'
                  type: string
                team:
                  description: 'Team ID (displayed on dashboard)'
                  type: string
                folder:
                  description: 'Folder ID (displayed on dashboard)'
                  type: string
                code:
                  description: 'Custom short code'
                  type: string
                  pattern: '^[a-zA-Z0-9!-]{3,50}$'
                label:
                  description: Label
                  type: string
                password:
                  description: Password
                  type: string
                expired_at:
                  description: 'Expiration date'
                  type: string
              type: object
      responses:
        '200':
          description: 'The shortened link'
          content:
            application/json:
              schema:
                properties:
                  url: { description: 'Original URL', type: string }
                  expired_at: { description: 'Expiration date', type: string }
                  team: { description: 'Team ID (displayed on dashboard)', type: integer }
                  folder: { description: 'Folder ID (displayed on dashboard)', type: integer }
                  url_code: { description: 'Short code', type: string, example: xMs5c }
                  domain: { description: Domain, type: string, example: urlr.me }
                  code: { description: 'HTTP status code', type: integer, example: 200 }
                type: object
        '400':
          description: 'An error occurred'
          content:
            application/json:
              schema:
                properties:
                  code: { description: 'HTTP status code', type: integer, example: 401 }
                  error: { description: 'Error code', type: integer, example: -1 }
                  message: { description: 'Message describing the error', type: string }
                type: object
      security:
        -
          bearerAuth: []
  /stats:
    post:
      tags:
        - Stats
      summary: 'Get statistics of a link'
      operationId: stats
      requestBody:
        description: 'Infos to provide to get statistics of a link'
        content:
          application/json:
            schema:
              required:
                - code
              properties:
                code:
                  description: 'The short code of the URL'
                  type: string
                  pattern: '^[a-zA-Z0-9!-]{3,50}$'
                from:
                  description: 'Get stats from this date'
                  type: string
                  example: dd/mm/yyyy
                to:
                  description: 'Get stats until this date'
                  type: string
                  example: dd/mm/yyyy
                includeBots:
                  description: 'Whether include bots or not in statistics'
                  type: boolean
              type: object
      responses:
        '200':
          description: 'Statistics of the link'
          content:
            application/json:
              schema:
                properties:
                  clicks: { description: Clicks, type: integer, example: 32 }
                  uniqueClicks: { description: 'Unique clicks', type: integer, example: 51 }
                type: object
        '400':
          description: 'An error occurred'
          content:
            application/json:
              schema:
                properties:
                  code: { type: integer, example: 401 }
                  error: { type: integer, example: -1 }
                type: object
      security:
        -
          bearerAuth: []
  /team:
    get:
      tags:
        - Team
      summary: 'Get teams of user'
      operationId: team
      responses:
        '200':
          description: 'Teams of user'
          content:
            application/json:
              schema:
                properties:
                  teams: { type: array, items: { properties: { id: { description: 'Team ID', type: integer, example: 131 }, name: { description: 'Team name', type: string, example: 'the best team' } }, type: object } }
                type: object
      security:
        -
          bearerAuth: []
  /folder:
    get:
      tags:
        - Folder
      summary: 'Get folders of team'
      operationId: folder
      requestBody:
        description: 'Infos to provide to get folders of team'
        content:
          application/json:
            schema:
              required:
                - team
              properties:
                team:
                  description: 'Team ID (displayed on dashboard)'
                  type: integer
                  example: 123
              type: object
      responses:
        '200':
          description: 'Folders of team'
          content:
            application/json:
              schema:
                properties:
                  folders: { type: array, items: { properties: { id: { description: 'Folder ID', type: integer, example: 123 }, name: { description: 'Folder name', type: string, example: folder-campaign-google-ads } }, type: object } }
                type: object
      security:
        -
          bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      bearerFormat: JWT
      scheme: bearer
